* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
}
.panel {
    position: fixed;
    user-select: none;
    z-index: 400;
    padding: 7px;
    background: rgba(50,20,0,0.1);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
#panel {
    left: 10px;
    top: 10px;
}
#selectPanel {
    left: 310px;
    top: 10px;
}
.panel * {
    padding: 2px;
//margin-left: 10px;
}
.panel hr{
    background: black;
    height: 1px;
    padding: 0;
    margin: 2px 0px;
    width: 100%;
}
#canvas {
    cursor: crosshair;
}
#savePanel{
    top: 120px;
    left: 100px;
}
.savelist {
//height: 22px;
//overflow-y: scroll;
}
#canvas2 {
    cursor: crosshair;
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
}
#stamp {
    border: 1px solid black;
}
.hidden{
    display: none;
}
.panel br{
    clear: both;
}
input[type=range]{
    height: 21px;
    background: none;
    float: right;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 14px;
    width: 20px;
    border-radius: 12px;
    background: #f99421;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track  {
    box-shadow: 0px 0px 0px #000000;
    height: 14px;
    border-radius: 12px;
    background: #50555c;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}
#mspeed::-webkit-slider-runnable-track  {
    background: linear-gradient(to right, #fe3c1a, #50555c);
}

[type=radio], [type=file] {
    display: none;
}
[type=color] {
    width: 20px;
}
#linecap {
    height: 20px;
}
.icon{
    margin-left: 2px;
}
button.icon{
    padding: 0;
    cursor: pointer;
    outline: none;
}
button.icon:focus {
    outline: none;
}
button.icon img{
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding: 2px;
    margin: 0;
}
[type=radio] + img {
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding: 2px;
    margin: 0;
    margin-left: 2px;
}
[type=radio]:checked + img {
    outline: 1px solid #f90;
    background: rgba(0,0,0,.2);
}
.toolbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.save_row {

}
.save_row button{
    float: right;
}
#smooth:checked ~ label img {
    outline: 1px solid #f90;
    background: rgba(0, 0, 0, .2);
}